<!DOCTYPE html>
<html>
<head>
    <title>City forecast</title>
</head>
<body>
    <h1>Weather Forecast for <%= name %>, <%= country %></h1>
    
        <div class="forecast-day">
            <h2><%= date %></h2>
            <p>Temperature in celsius: <%= temp %>°C</p>
            <p> Temperature in fahrenheit: <%= tempp%>F</p>
            <p>Wind Speed: <%= wind %>kph</p>
        </div>
    
</body>
</html>
